*.swp
*.pyc
*.*~

/cppForSwig/cryptopp/Template
/cppForSwig/cryptopp/TestData
/cppForSwig/cryptopp/TestVectors
/cppForSwig/cryptopp/CTDebug
/cppForSwig/cryptopp/Debug
/cppForSwig/cryptopp/DLL_Debug
/cppForSwig/cryptopp/dlltest___Win32_Debug
/cppForSwig/cryptopp/Release