*.swp
*.pyc
*~
*.o

/armoryengine/ArmoryBuild.py

CppBlockUtils.py
_CppBlockUtils.*
/cppForSwig/CppBlockUtils_wrap.cxx
/cppForSwig/libcryptopp.a
/cppForSwig/libleveldb.a
/cppForSwig/cryptopp/a.out
/cppForSwig/cryptopp/Template
/cppForSwig/cryptopp/TestData
/cppForSwig/cryptopp/TestVectors
/cppForSwig/cryptopp/CTDebug
/cppForSwig/cryptopp/Debug
/cppForSwig/cryptopp/DLL_Debug
/cppForSwig/cryptopp/dlltest___Win32_Debug
/cppForSwig/cryptopp/Release

*.DS_Store
osxbuild/Armory.app
osxbuild/env

/ArmoryStandalone/*
/cppForSwig/CppBlockUtils_wrap.h
/cppForSwig/leveldb/*
/cppForSwig/libs/*
/cppForSwig/Release/*
/cppForSwig/swigwin/*
/cppForSwig/pypaths.txt

/pytest/*.bin
/pytest/mytxfile

/*.exe

/CompilerArgs.nsi
/build/bdist.win32/winexe/temp
/*.dll
/qrc_img_resources.py
/.project
/.pydevproject
/.settings
/*.wallet

/findpass.py
/*.txt
/sandbox.py

/webshop/orders/m*
/webshop/orders/n*
/webshop/orders/2*
/webshop/orders/1*
/webshop/orders/3*
/webshop/refunds/m*
/webshop/refunds/n*
/webshop/refunds/2*
/webshop/refunds/1*
/webshop/refunds/3*

/osxbuild/armory_*.tar.gz
/osxbuild/build-app.log.txt
/osxbuild/objc_armory/*
/osxbuild/workspace/*
osxbuild/install-qt4/
osxbuild/install-qt5/

/armory_*_raspbian-armhf*

/dpkgfiles/control
/dpkgfiles/rules

# autoreconf
Makefile.in
aclocal.m4
autom4te.cache/
build-aux/ar-lib
build-aux/config.guess
build-aux/config.sub
build-aux/install-sh
build-aux/missing
build-aux/compile
config.log
config.status
configure
Makefile
