*.swp
*.pyc
*.*~
*.o

CppBlockUtils.py
_CppBlockUtils.*
/cppForSwig/CppBlockUtils_wrap.cxx
/cppForSwig/libcryptopp.a
/cppForSwig/cryptopp/a.out
/cppForSwig/cryptopp/Template
/cppForSwig/cryptopp/TestData
/cppForSwig/cryptopp/TestVectors
/cppForSwig/cryptopp/CTDebug
/cppForSwig/cryptopp/Debug
/cppForSwig/cryptopp/DLL_Debug
/cppForSwig/cryptopp/dlltest___Win32_Debug
/cppForSwig/cryptopp/Release

*.DS_Store
osxbuild/Armory.app
osxbuild/env

/ArmoryStandalone/*
/cppForSwig/libs/*
/cppForSwig/Release/*
/cppForSwig/swigwin/*

/*.exe

/CompilerArgs.nsi
/build/bdist.win32/winexe/temp
cppForSwig
/*.dll
/qrc_img_resources.py
/.project
/.pydevproject
/.settings
/*.wallet
