[Desktop Entry]
Type=Application
Name=Armory (Offline-mode)
GenericName=Bitcoin Client
Comment=Full-featured Bitcoin wallet management application
Categories=Qt;Network;
Exec=python /usr/share/armory/ArmoryQt.py --offline
Icon=armoryicon
StartupNotify=false
Terminal=false
