# This file is mainly just to give git an excuse commit this otherwise-empty dir
# It also guarantees that no other files from this dir are ever committed
*
# Except this file
!.gitignore

blkdata
blkdata-lock
headers
headers-lock
history
history-lock
ssh
ssh-lock
stxo
stxo-lock
subssh
subssh-lock
txfilters
txfilters-lock
txhints
txhints-lock
zeroconf
zeroconf-lock
